{%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
<li>
  <div class="movie-item">
    <div class="poster">
      <img src="{{post.poster | relative_url}}"/>
    </div>
    <div class="details">
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <span class="subheader">
      <span class="date">{{ post.date | date: date_format }}</span> 
      - 
      {% for version in post.versions %}
      <span class="version">
         <a href="{{ version.url }}">
           {{version.name}}
         </a>
      </span>
      
      {% endfor %}
      </span>
      <p class="description">
      {%- if post.description -%}
      {{ post.description }}
      {%- elsif site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
      </p>
    </div>
  </div>



</li>